<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
    </head>
    <body>
        <h1>Welcome {{user.first_name}}</h1>
        <form class="logout" action="/logout" method="post">
            {% csrf_token %}
            <input type="submit"value="logout">
        </form>
        <!-- CREATE A POST -->
        <form class="" action="/create_post" method="post">
            {% csrf_token %}
            <textarea name="post" rows="8" cols="80" placeholder="Post your thoughts here..."></textarea>
            <input type="submit" value="Post It!">
        </form>
        <!-- SEE MOST RECENT -->
        <h4><a href="/popular">Go To Most Recent Popular</a></h4>
        <h2>Recent Secrets...</h2>
        {%for post in posts%}
        <div class="recent_secrect">
            <h3>{{post.post}}<form class="" action="/like_post/{{post.id}}" method="post">
                {% csrf_token %}
                <input type="submit" value="Like">
            </form></h3>

            <p>{{post.created_at|timesince}} ago</p>
            <p>{{post.like.all|length}} Likes</p>

            {%if request.session.id %}
            <a href="/delete_post">Delete</a>
            {%endif%}
            <br><br>
        </div>
        {% endfor %}
    </body>
</html>
