<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="">
	</head>
	<body>
		<h1>I snuck into your room last night. Drank some tea while you snored ever so loudly. Used your restroom and then continued to watch you sleep.</h1>
		<h2>Then I got hungry, so I went into your kitchen, cooked some fried cous cous and drank your last beer. If would be nous of you to always keep an extra beer in your fridge for me.</h2>
		<h3>then i took your do on a walk at about 1 am; Your dog seems to like these ealry morning walks.</h3><h4>Ive continued watching you sleep for 3 more hour now. it is 5 am and you are starting to toss and turn.....</h4><h5>i should probably leave soon..ish. or not.</h5><h6>I ate your last pop tart but left te empty box in the cupboard for you to find. sincererly your best friend</h6>
	</body>
</html>