<!DOCTYPE html>
<html>
	<head>
		<title>Ninja Turtle Session</title>
	</head>
	<body>
		<h1>There are no ninja turtles here.</h1>
		<h2>You might be able to find them, but you must follow some simple directions.</h2>
		<ul>
			<li>type /ninjas/orange for Michaelangelo(Mickey)</li>
			<li>type /ninjas/blue for Leonardo(Leo)</li>
			<li>type /ninjas/red for Raphael(Raph)</li>
			<li>type /ninjas/purple for Donatello(Donnie)</li>
			<li>type /ninjas/all to see them all chillin together</li>
			<li>If you want to be an ass you'll be forced to stare at Megan Fox</li>
		</ul>
		

	</body>
</html>