<!DOCTYPE html>
<html>
<head>
	<title>Registration From</title>
	<link rel='stylesheet' type='text/css' href="{{url_for('static', filename='stylesheet.css' )}}">
</head>
<body>
	<h1>Register</h1>
	<form action='register' method='post'>
		<p>Email Address:</p>
		<p><input type='email' name='email'/></p>
		<p>First Name :</p>
		<p><input type='text' name='first_name'></p>
		<p>Last Name :</p>
		<p><input type='text' name='last_name'></p>
		<p>Password :</p>
		<p><input type='text' name='password'></p>
		<p>Confirm Password :</p>
		<p><input type='text' name='confirm_password'></p>
		<p><input type="submit" value="Register">
	</form>
	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
    		<ul class=flashes>
    			{% for category, message in messages %}
      			<li class="{{ category }}">{{ message }}</li>
    			{% endfor %}
    		</ul>
  		{% endif %}
	{% endwith %}
</body>
</html>