<!DOCTYPE html>
<html>
	<head>
		<title>Secrets</title>
		<meta charset="utf-8">
		{% load staticfiles%}
		<link rel="stylesheet" type="text/css" href="{% static 'dojo_secrets/css/stylesheet.css' %}">
	</head>
	<body>
		<h1>Success, welcome {{current_user.first_name}}</h1>

		<a href="/logout">Logout</a>

		<form action="/postsecrets" method="POST">
			{% csrf_token %}
			<textarea name="secret"></textarea>
			<input type="submit" name="secret_button" value="POST">
			<input type="hidden" name="userid" value="{{userid}}">
		</form>
		<a href="/favourites">Favourite Secrets Here</a>
		<h1>Recent Secrets....</h1>
			


		{% for secret in secrets %}
			<p>{{secret.content}}</p>
			<p>({{secret.created_at|timesince:current_datetime}})</p>			
			
			{% if secret.user == current_user %}
				<h4>You posted this</h4>
				<a href="/deletesecrets/{{secret.id}}">Delete</a>
			{% endif %}
			{% if current_user != secret.user %}
			<a href="/like/{{secret.id}}">like</a> {{secret.likes.all | length }}
			{% endif %}

		{% endfor %}
	</body>
</html>
				