body {
	width: 900px;
	background-color: red;
}

/*span {
	border: 1px solid black;
}

.box {
	width: 23%
	margin:  5px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.activities {
	
}*/

