body {
	width: 900px;
	background-color: 
}

span {
	border: 1px solid black;
}

.box {
	width: 23%
	margin:  5px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.activities {
	border: 1px solid black;
	height: 120px;
	overflow-y: scroll;
}

.red {
	color: red;
}

.green {
	color: green;
}
