<!DOCTYPE html>
<html>
	<head>
		<title>Email validation</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/stylesheet.css')}}">
	</head>
	<body>
		<h1>this</h1>
		<form action="/process" method="POST">
			<label for="email">Email Address:<input type="text" name="email" id="email"></label>
			<input type="submit" name="submit_button" value="Enter">
		</form>
		{% with messages = get_flashed_messages() %}
			{%if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</body>
</html>